.body {
	display: inline-block;
	text-align: center;
	position: relative;
	width: 100%;
	max-width: 1000px;
	height: 730px;
	border:0;
	background: white;
	box-shadow: 1px 0 5px black;
	visibility: hidden;
}
.body .header {
	position: absolute;
	display: inline-block;
	text-align: center;
	top:0;
	left:0;
	width: 100%;
	height: 150px;
	background-repeat: no-repeat;
	opacity :0;
    	box-shadow: 0  2px 2px -2px black;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.body .header p {
	margin: 2px;
	color: white;
	text-shadow: 0 0 2px black;
}
.body .header p[a] {
	font-size: 24px;
	margin-bottom: -2px;
}
.body .header p[b] {
	font-size: 16px;
}
.body .header p[c] {
	font-size: 16px;
}
.body .navigasi {
	position: absolute;
	display: inline-block;
	top:150px;
	left:0;
	width: 30%;
	height: 550px;
	background: white;
	box-shadow: 0 0 1px black inset;
	z-index: 9;
	overflow: auto;
	-webkit-transition: filter 1s;
	-moz-transition: filter 1s;
	-o-transition: filter 1s;
	transition: filter 1s;
}
.body .navigasi div {
	width: 80%;
	overflow: hidden;
	border: 1px #555 solid;
	display: inline-block;
	margin-top: 0;
	margin-bottom: -2px;
	padding: 0;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.body .navigasi #olahData {
	height: 338px;
}
.body .navigasi #tambahData {
	height: 177px;
}
.body .navigasi #ubahData {
	height: 241px;
}
.body .navigasi #hapusData {
	height: 196px;
}
.body .navigasi #cetakData {
	height: 248px;
}
.body .navigasi #ubahPengguna {
	height: 168px;
}
.body .navigasi #olahData[disabled],
.body .navigasi #tambahData[disabled],
.body .navigasi #ubahData[disabled],
.body .navigasi #hapusData[disabled],
.body .navigasi #cetakData[disabled],
.body .navigasi #ubahPengguna[disabled] {
	height: 25px;
	margin-bottom: -3px;
	border: 0;
}
.body .navigasi div p {
	font-size: 12px;
}
.body .navigasi input {
	width: 80%;
	font-weight: bold;
}
.body .navigasi #olahData input:first-child,
.body .navigasi #tambahData input:first-child,
.body .navigasi #ubahData input:first-child,
.body .navigasi #hapusData input:first-child,
.body .navigasi #cetakData input:first-child,
.body .navigasi #ubahPengguna input:first-child {
	width: 100%;
	font-weight: bold;
}
.body .navigasi div input {
	width: 40%;
	font-weight: normal;
	text-align: center;
}
.body .navigasi #tambahData > input,
.body .navigasi #ubahData input,
.body .navigasi #ubahPengguna input,
.body .navigasi div input:last-child {
	width: 80%;
}
.body .navigasi .tombol {
	display: inline-block;
	width: 80%;
	height: 20px;
	font-size: 12px;
	border: none;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	color: black;
	background: #DDD;
}
.body .navigasi .tombol:last-child {
	margin-top: 5px;
}
.body .navigasi .tombol:hover {
	background: #0AD;
}
.body .navigasi .tombol[disabled]:hover {
	background: #F03;
}
.body .navigasi .tombol[aktif] {
	background: #0AD;
}
.body .tabel {
	position: absolute;
	top:150px;
	right:-2px;
	width: 70%;
	height: 550px;
	background: white;
	box-shadow: 0 0 1px black inset;
	z-index: 8;
	overflow: auto;
	-webkit-transition: filter 1s;
	-moz-transition: filter 1s;
	-o-transition: filter 1s;
	transition: filter 1s;
}
.body .tabel table {
	margin: 2px;
	text-align: center;
	display: inline-block;
	border: 1px #555 solid;
	border-radius: 3px;
}
.body .tabel table:last-child {
	width: 300px;
	border: 0;
	cursor: pointer;
}
.body .tabel table:last-child tr th {
	padding: 0;
	border: 0;
	text-align: center;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.body .tabel table:last-child tr th:first-child,
.body .tabel table:last-child tr th:last-child {
	padding: 2px;
	font-size: 9px;
	background: #DDD;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.body .tabel table:last-child tr th div {
	display: inline-block;
	width: 30px;
	padding: 2px 0 0 0;
	background: #DDD;
	font-size: 11px;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.body .tabel table:last-child tr th div[aktif] {
	background: #0AD;
}
.body .tabel table:last-child tr th:first-child:hover,
.body .tabel table:last-child tr th:last-child:hover,
.body .tabel table:last-child tr th div:hover {
	background: #0AD;
}
.body .tabel table:last-child tr th[aktif] {
	background: #0AD;
}
.body .tabel table > thead {
	font-size: 12px;
	background: white;
}
.body .tabel table > thead > tr > th {
	padding: 2px 6px;
	border-left: .5px #555 solid;
}
.body .tabel table > thead > tr > th:first-child {
	border-left: 0;
}
.body .tabel table > tbody {
	font-size: 11px;
	background: white;
}
.body .tabel table > tbody > tr > td {
	padding: 2px 6px;
	border-left: .5px #555 solid;
	border-top: .5px #555 solid;
}
.body .tabel table > tbody > tr > td:first-child {
	border-left: 0;
}
.body .footer {
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	background: DeepSkyBlue;
	z-index: 7;
}
.body .footer p {
	margin: 6px 0 2px 0;
	font-size: 12px;
	font-weight: bold;
}
.Bantuan{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.Bantuan > img{
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
}