body{
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #AAA;
	color: black;
	font-family: Arial;
	font-size: 11px;
}
.background {
	position: absolute;
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-left: -50%;
	height: 100%;
	background-color: DeepSkyBlue;
	background-image: url("Sistem/data/logo.png"), url("Sistem/data/background.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: bottom center, center center;
	background-size: auto, 100%;
	filter: blur(2px);
}
.judul {
	position: relative;
	background: #08D;
	margin-top:0;
	padding: 4px;
	font-weight: bold;
	font-size: 15px;
	color: white;
}
.masuk {
	position: absolute;
	display: inline-block;
	margin-left: -150px;
	top: 35%;
	max-width: 300px;
	max-height: 30%;
	background: white;
	box-shadow: 0 0 2px black;
	overflow-y: auto;
}
.masuk > .input {
	width: 80%;
	margin: 4px;
	text-align: center;
}
.masuk > .tombol {
	margin: 4px;
}
.masuk > .keterangan {
	color: red;
	display: inline-block;
	width: 80%;
	margin: 4px;
}
.tooltip {
	position: fixed;
	width: 5px;
	height: 5px;
	z-index: 200;
}
.tooltipKonten {
	position: absolute;
	border-bottom: 2px #08F solid;
	padding: 2px;
	background: rgba(255,255,255,.5);
	color: #333;
	box-shadow: 0 0 1px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	overflow-x: hidden;
}